@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --lblue: #27b4ff;
  --ldblue: #005f91;
  --lbluelines: #47bfff;
  --llblue: #cceeff;
  --navbarcolor: #2384b8;
  --orange: #ff4800;
  --dgray: #262626;
  --Tlium: "Titillium Web";
  --varela: "Varela Round";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-fx::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}
.navbarcontainer {
  position: fixed;
  display: flex;
  font-family: var(--Tlium);
  height: 100vh;
  background-color: var(--lblue);
  right: -500px;
  z-index: 2;
  transition: 200ms ease-in-out;
}
.navbar-show-state {
  right: 0;
  transition: 200ms ease-in-out;
}
.nav {
  list-style: none;
  text-transform: uppercase;
  margin: 8em 1em;
}
.nav > li {
  text-align: right;
  font-family: var(--Tlium);
  font-weight: 700;
  margin-top: 1em;
  color: var(--ldblue);
}
.logo {
  width: 40%;
  position: absolute;
  top: -3%;
}
.logo > img {
  width: 100%;
}
.landingpage {
  background-image: url("Designs/curvesbglanding.png");
  height: 44em;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.navbar-hamburger-lines {
  position: fixed;
  width: 2.5em;
  height: 2.5em;
  margin: 1.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  z-index: 3;
  cursor: pointer;
}
.navbar-lines {
  width: 100%;
  height: 0.4em;
  background-color: var(--navbarcolor);
  border-radius: 5px;
  transition: 200ms ease-in-out;
}
.navbar-lines::before,
.navbar-lines::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4em;
  background-color: var(--navbarcolor);
  border-radius: 5px;
  transition: 200ms ease-in-out;
}
/*navbar-animation*/
.navbarbtn-active-state > .navbar-lines {
  transform: translateX(-50px);
  background: none;
  transition: 200ms ease-in-out;
}
.navbarbtn-active-state > .navbar-lines::before {
  transition: 200ms ease-in-out;
  transform: rotate(45deg) translate(35px, -35px);
}
.navbarbtn-active-state > .navbar-lines::after {
  transition: 200ms ease-in-out;
  transform: rotate(-45deg) translate(35px, 35px);
}

.navbar-lines::before {
  transform: translateY(-10px);
}
.navbar-lines::after {
  transform: translateY(10px);
}

.landingpagetext {
  top: 8.1em;
  margin-left: 1.6em;
  position: relative;
  font-family: var(--varela);
  color: white;
  width: 60%;
  line-height: 2em;
}
.landingpagetext h1 {
  font-size: 1.5rem;
}
.landingpagetext span {
  font-family: var(--Tlium);
  color: var(--lblue);
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

/*Content body*/
.contentbody {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1.5em 0;
}
.contenthead {
  font-family: var(--Tlium);
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
  color: var(--ldblue);
}
.contenthead::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
  height: 0.5%;
  background-color: var(--lbluelines);
}
.contentsubhead {
  font-family: var(--varela);
  text-transform: uppercase;
  color: var(--ldblue);
  font-size: rem;
  text-align: center;
  margin-bottom: 1em;
}
.contentdesc {
  font-family: var(--varela);
  text-align: justify;
  width: 80%;
  color: var(--ldblue);
}
.contentdesc span {
  font-family: var(--Tlium);
  font-style: italic;
  font-weight: 700;
}

.contentdesc2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 1em;
}
.imgcontentdesc2 {
  width: 80%;
}
.imgcontentdesc2 > img {
  width: 100%;
}
.contentdesc2text {
  font-family: var(--varela);
  width: 80%;
  text-align: justify;
  color: var(--ldblue);
}

/*In-depth details section*/
.indepthdetails {
  margin-top: 2em;
  background-image: url("Designs/curveindepthdetails.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.headdetails {
  position: relative;
  bottom: 110px;
  font-family: var(--varela);
  color: #005f91;
  text-align: center;
}
.headdetails::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 0.2em;
  background-color: var(--orange);
  left: 50%;
  transform: translate(-50%);
}

.video-container {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%;
  height: 0;
  left: 50%;
  transform: translate(-50%);
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.indepthtext {
  margin: 0 1em;
  text-align: center;
  font-family: var(--varela);
  color: var(--llblue);
}

/*contact-section*/
.contact-section {
  margin: 3em 0;
  font-family: var(--varela);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-header {
  color: var(--ldblue);
}
.contact-header::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 0.2em;
  background-color: var(--lbluelines);
  left: 50%;
  transform: translate(-50%);
}

.icons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  width: 6%;
}
.icons > img {
  width: 100%;
  margin-right: 1em;
}
.forms-section-details {
  margin-top: 1em;
}
.details {
  display: flex;
  flex-direction: column;
}
.details > input {
  margin: 0.5em 0;
  padding: 0.6em 1em;
  border-radius: 10px;
  border: gray 2px solid;
  font-family: var(--Tlium);
  font-size: 1rem;
}
.forms-section-message textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
  margin-top: 1em;
  font-family: var(--Tlium);
  font-weight: normal;
  color: gray;
}

.submit-btn {
  margin-top: 1em;
}
.submit-btn > button {
  background: transparent;
  padding: 1em 1.5em;
  border-radius: 10px;
  border: var(--lblue) 2px solid;
  background-color: var(--lblue);
  font-weight: 700;
  font-family: var(--Tlium);
  color: white;
  font-size: 1rem;
}

/*Footer*/
footer {
  background-color: var(--dgray);
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > h1 {
  font-family: var(--varela);
  font-size: 0.7rem;
  color: #b5b5b5;
}
